body {
    background-color: #ecfbff;
    font-family: Arial, Helvetica, sans-serif;
  }

  hr {
    border-style: dotted none none none;
    border-color: grey;
    border-width: 5px 0 0 0;
    width: 5%;
  }

  img {
    border-radius: 5rem;
  }

  h1, h2, h3 {
    color: #4ea7a7;
    font-family: sans-serif;
  }